<h1>Painel Principal</h1>
<div class="data">
    <a href="insert"><button>Cadastrar Cliente</button></a>
    <table>
        <tr>
            <td>DOCUMENTO</td>
            <td>NOME COMPLETO</td>
            <td>DATA DE NASCIMENTO</td>
            <td>TELEFONE</td>
            <td>EDITAR</td>
            <td>EXCLUIR</td>
        </tr>
        {{#data}}
        <tr>
            <td>{{document}}</td>
            <td>{{name}}</td>
            <td>{{birth}}</td>
            <td>{{phone}}</td>
            <td><a href="/update/{{document}}"><button>Edit</button></a></td>
            <td><a href="/delete/{{document}}"><button>Delete</button></a></td>
        </tr>
        {{/data}}
    </table>
</div>
