{{#if data}}
    {{#data}}
    <h1>Alterando informações do(a) {{name}}</h1>
    <form name="update" action="../controllerUpdate" method="POST">
        <input type="number" name="document" id="document" placeholder="Insert your document:" value="{{document}}" required>
        <input type="text" name="name" id="name" placeholder="Insert your name:" value="{{name}}" required>
        <input type="date" name="birth" id="birth" placeholder="Insert your bithday:" value="{{birth}}" required>
        <input type="number" name="phone" id="phone" placeholder="Insert your phone:"  value="{{phone}}"required>
        <input type="submit" name="bntSubmit" id="bntSubmit" value="Atualizar">
    </form>
    {{/data}}
{{else}}
    <h1>Cadastrar novo cliente</h1>
    <form name="update" action="../controllerInsert" method="POST">
        <input type="number" name="document" id="document" placeholder="Insert your document:" required>
        <input type="text" name="name" id="name" placeholder="Insert your name:" required>
        <input type="date" name="birth" id="birth" placeholder="Insert your bithday:" required>
        <input type="number" name="phone" id="phone" placeholder="Insert your phone:" required>
        <input type="submit" name="bntSubmit" id="bntSubmit" value="Cadastrar">
    </form>
{{/if}}